@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    margin: 5px auto;
    width: 100%;
    min-height: 100vh;
    background: url('Snake-Pass-4K-Wallpaper-2.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 93vmin;
    height: 95vmin;
    background: linear-gradient(rgba(156, 240, 219, 0.7), rgba(230, 170, 225, 0.7));
    border: 2px solid rgb(154, 206, 33);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, purple);
    border: .25vmin solid white;
    border-radius: 5px;
}

.snake {
    background-color: rgb(136, 241, 255);
    border: .25vmin solid white;
    border-radius: 5px;
}

.food {
    background: linear-gradient(rgb(13, 235, 243), rgb(178, 139, 241));
    border: .25vmin solid black;
    border-radius: 5px;
}

#scorebox {
    position: absolute;
    top: 13px;
    right: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}